.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  .btn-primary{
    font-size: 13px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 106, 80, 1);
    border-radius: 8px;
    padding: 17px 34px;
  }
  h3{
    font-size: 20px;
    font-weight: 700;
    color: #0E0E0E;
    margin: 30px;
    margin-left: 150px;
  }
 nav .sing-btn{
    font-size: 9px;
    font-weight: 600;
    color:white;
    margin-right:150px;
    margin-top: 30px;
    padding: 8px;
    border-radius: 15px #006A50;
    background-color: rgba(0, 106, 80, 1);

 }
  header{
    display: flex; 
    justify-content: space-between; 

  }
  h4{
    font-size: 24px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.5);
  }
  h1{
    font-size: 56px;
    font-weight: 800;
    color: rgba(14, 14, 14, 1);
  
  }
  .banner{
    display: flex;
    justify-content: space-between;
    background-color: rgba(198, 228, 214, 1);
    margin: 20px 160px 80px 160px;
    border-radius: 25px;
    padding: 65px;
  }
  .title{
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
    margin: 24px 160px;
  }
  .title-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin: 24px 160px;
  }
  .vision-c{
    display: flex;
    gap:70px;
    margin: 24px 160px;
  }
  .vision-1{
    border: 1px solid black;
    padding: 10px 10px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 10px;
    border: none;
  }
  .vision-2{
    border: 1px solid black;
    padding: 12px 12px;
    background-color: rgba(9, 161, 93, 0.559);
    border-radius: 10px;
    border: none;
  }
  .vision-3{ border: 1px solid black;
    padding: 10px 10px;
    background-color: rgba(247, 235, 207, 1);
    border-radius: 10px;
    border: none;
  }
  .vision-head{
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
  }
  .discription{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
  }
  .b-1{
    background-color: rgba(25, 93, 212, 0.2);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    padding: 6px;
    color: white;
    border: none;
  }
  .b-2{
    background-color: rgba(12, 201, 116, 0.559);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    padding: 6px;
    color: white;
    border: none;
  }
  .b-3{
    background-color: rgb(228, 192, 106);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    padding: 6px;
    color: rgba(255, 255, 255, 0.959);
    border: none;
  }
  /* form style */
  table{
    border-collapse: collapse;
    margin: 26px 160px 26px 160px;
  }
  .head{
    font-size: 40px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
    margin: 80px 160px 24px 160px;
    
  }
  th{
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
    border: 1px solid rgb(185, 184, 184);
    padding:24px 24px;
    background-color: rgba(198, 228, 214, 1);
  }
  tr td {
    font-size: 16px;
    font-weight: 600;
    color: rgba(14, 14, 14, 1);
  }
  #opinion{
    font-size: 15px;
    font-weight: 500;
    color: rgba(14, 14, 14, 1);
  }
  td{
    border: 1px solid rgb(185, 184, 184);

  }
  .Questions{
    padding: 36px 24px;
  }
  .answeer{
    padding: 24px;
  }
  .choose{
    padding: 12px 32px 12px 16px;
  }
.news-head{
  font-size: 40px;
  font-weight: 700;
  color: rgba(14, 14, 14, 1);
  margin:60px 160px 24px 160px;
}
.news-description{
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  margin:24px 160px 0 160px ;
}
.bangla-satelite{
  display: flex;
  margin: 25px 160px 25px 160px;
  border-radius: 26px;
  background-color: rgba(255, 255, 255, 1);
}
.satelite-img{
  border: 1px solid white;
  padding: 48px 32px 48px 48px;
  border-radius: 24px;

}
.satelite{
  border: 1px solid white;
  border-radius: 26px;
}
.satelite-title{
  font-size: 32px;
  font-weight: 600;
  color: rgba(14, 14, 14, 0.8);
}
.sub-image{
  width: 130px;
  max-height: 40px;
}
.sub-para{
color: rgba(14, 14, 14, 0.7);
} 
.main-para{
  font-size: 17px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.767);
}
.content{
  border: 1px solid white;
  padding: 56px 56px 136px 48px;
}
.btn-main{
    background-color: rgba(0, 106, 80, 1);
    color: rgba(255, 255, 255, 1);
    padding: 13px 26px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
}
.bangla-satelite-card-2{
  display: flex;
  margin: 0px 160px 0px 160px;
  border-radius: 26px;
  background-color: rgba(255, 255, 255, 1);
}
.satelite-img-card-2{
  border: 1px solid white;
  padding: 48px 32px 48px 48px;
  border-radius: 24px;
}
.satelite-card-2{
  border: 1px solid white;
  border-radius: 26px;
}
.content-card-2{
  border: 1px solid white;
  padding: 56px 56px 136px 48px;
}
.satelite-title-card-2{
  font-size: 32px;
  font-weight: 600;
  color: rgba(14, 14, 14, 0.8);
}
.sub-image-card-2{
  width: 130px;
  max-height: 40px;
}
.sub-para-card-2{
  color: rgba(14, 14, 14, 0.7);
}
.main-para-card-2{
  font-size: 17px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.767);
}
.btn-main-card-2, .btn-end{
  background-color: rgba(0, 106, 80, 1);
  color: rgba(255, 255, 255, 1);
  padding: 13px 26px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
}
.Donate-head{
  font-size: 40px;
  font-weight: 600;
  color: rgba(14, 14, 14, 1);
  margin-bottom: 10 px;
}
.Donate-description{
  font-size: 16px;
  font-weight: 400;
 color: rgba(14, 14, 14, 0.7);
 border: 1px solid black;
 padding:0 450px 0 450px;
 margin-top: 24px; 
 border: none;
}
.btn-taka-color{
font-size: 40px;
font-weight: 600;
color: rgba(14, 14, 14, 0.8);
background-color: lightblue;
padding: 35px;
border-radius: 16px;
}
.currency{
  font-size: 15px;
  font-weight: 400;
  color:rgba(14, 14, 14, 0.3);
  text-align: center;
  padding: 18px 400px;
  margin-bottom: 32px;
}
.charity{
  border: 1px solid black;
  text-align: center;
  border: none;
}
.btn-taka{
  padding: 35px;
  border-radius: 16px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 1);
  font-size: 40px;
  font-weight: 600;
  color: rgba(14, 14, 14, 0.8);
  gap:24px 24px;
}
.Donate-amount{
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 32px;
}



